*{
	margin: 0px;
	padding: 0px;
	font-family:"Roboto",sans-serif;
}
/*declare variable*/
:root{
  --primary:#ff105f;
  --secondary:#d39721;
  --light:#f4f4f5;
  --third:rgb(32, 27, 37);
  --dark:#000000;
  --reg:rgb(22, 6, 250);
}
 /*login all block hero */

body{
	/* background-color: var(--primary) */
	/* background-image: url(../images/banner.jpg);
	background-size: cover; */

}
.hero{
	height: 100vh;
	width: 100vw;
	/*background: var(--primary);*/
	background-position: center;
	background-size: cover;/*background size cover screen*/
	position: absolute;
}

/*form box start*/
.form-box{
	width: 25vw;
	height: 70%;
	position: relative; /**/
	margin:6% auto; /**/
	background: #fff;
	border-radius: 30px;
	display: flex;
	justify-content: center;
	padding: 5px;
	border:2px solid gray;
	box-shadow: 8px 9px 10px black;
	background-size: cover;
}

/*button box started*/
/*button register and login*/
.button-box, .add-more-button{
	margin:35px auto;
	position: absolute; /**/
	box-shadow: 0 0 20px #ff61241f; /*give box shadow on button*/
	border-radius: 30px; 
}
.adminHead{
	width: 220px;
	margin:35px auto;
	position: absolute;
	text-shadow: 1px 1px var(--primary);
}

/*toggle button start*/

.toggle-btn{
	padding: 10px 30px;
	cursor: pointer;
	border:0;
	outline: none;
	position: relative;
	border-radius: 30px;
	background: linear-gradient(to left,var(--third),var(--reg));
	color: var(--light);
	
}

/*on login page give style */
.login{
	/*background color maintain*/
	background: linear-gradient(to right,var(--primary),var(--secondary));
	color: var(--light);
}
.register{
	
	background: linear-gradient(to left,var(--primary),var(--secondary));
}
#btn{
	top: 0;
	left: 0;
	position: absolute;
	width: 110px;
	height: 100%;
	/*border-radius: 30px;*/
	transition: .5s
}

.btn-text{
	text-align: center;
	margin-top: 10px;
}
.btn-text p{
	margin-top: 10px;
}

 .input-group{
 	top: 180px;
 	position: absolute;
 	width: 280px;
 	transition: .5s;
 }

 .input-group a{
 	text-decoration: none;
 }

 .input-field{
 	width: 100%;
 	padding: 10px 0;
 	margin: 15px 0;
 	border-left:0;
 	border-right: 0;
 	border-top: 0;
 	border-bottom: 1px solid #999;
 	outline: none;
 	background: transparent;

 }

 .submit-btn{
 	width: 85%;
 	padding: 10px 30px;
 	cursor: pointer;
 	display: block;
 	margin:20px;
 	background: linear-gradient(to right, var(--primary),var(--secondary));
 	border:0;
 	outline: none;
 	border-radius: 30px;
	 color: var(--light);
 }

 /*navigation start*/
 .navigation{
 	height: 10vh;
 	background: var(--secondary)
 }
 nav ul li{
 	padding: 15px;
 	font-size: 25px;
 	display: inline-block;
 	list-style: none;
 	margin:0 50px;
 	align-items: center;
}
ul li a{
	color:#fff;
 	text-decoration: none;
 }

nav ul li a:hover{
	 color: var(--primary);
 }

 .todo-box,.doing-box, .done-box{

 	width: 20vw;
	height: 55%;
	position:fixed; 
	margin:2%; /**/
	background: var(--light);
	border-radius: 30px;
	color: var(--dark);
	display: block;
	align-items: center;
	/*left:100px;*/
	padding: 2px;
	border:2px solid gray;
	box-shadow: 8px 9px 10px var(--dark);
	overflow: auto;
 }
 .text-primary{
	color: var(--dark);
 }
 .user-profile{
	 text-align: center;
	 color: var(--dark);
	 margin-top: 25px;
 }

 .add-more-button a{
	 text-decoration: none;
	 color:#000000;
	 /* position: fixed; */
 }
 

 .add-button{
 	margin: 10px 0;
 }

 .todo-box{
 	left:100px;
	 overflow: auto;
 }

 .todo-box h1 , .doing-box h1, .done-box h1{
 	text-align: center;
 }
.doing-box{
	left:35%;
}

.done-box{
	left: 62%;
}
.task-item{
	/* width:px; */
	margin: 5px;
}
.todoitem:hover{
	color: gray;
}

.task-item ul li{
	list-style: none;
	margin: 2px;
	font-size: 20px;
}
.taskaction{
	display: none;
}
.task-item:hover .taskaction{
	display: block;
}
/* .taskaction .move-class:hover .move{
	display: block;
} */
.sessionend{
	/* width: 100vw; */
	height: 100vh;
	background-color: var(--primary);
}
.sessionend a{
	margin-top:50px ;
}
.not-login-msg{
	color: var(--dark);
	position: fixed;
	top: 40%;
	left: 45%;
}
.not-login-msg a{
	color: var(--dark);
	position: relative;
	text-decoration: none;
	left: 20%;
}
.not-login-msg a:hover{
	color: var(--primary);
	font-weight: bold;
	font-size: large;
}

textarea{
	margin: 5px 25px 0px 10px;
	padding: 3px;
}
a.addMore, button, input{
	margin: 5px;
	padding: 5px;
	border: 2px solid #aabbcc;
	font-size: 12px;
	background-color:(rgb(239, 239, 239), rgb(59, 59, 59));
	text-align: center;
	/* color: #fff; */
	color: -internal-light-dark(black, white);
	border-color: -internal-light-dark(rgb(118, 118, 118), rgb(133, 133, 133));
	border-radius: 3px;
	text-decoration: none;
	text-rendering: auto;
	border-image: initial;

}
footer div{
	flex-basis: 50%;
	margin: 10px 0;
  }

  .error-msg{
	display: block;
	margin-top: 0px;
	font-size: 10px;
	color: red;
  }
  footer{
	background: var(--secondary);
	margin-top: 28rem;
	height: 9vh;
  }
  .foot-text, .foot-text a{
	color: var(--light);
	text-align: center;
	justify-content: center;
	align-items: center;
  }
  .foot-text a:hover{
	padding: 70px 0;
	color: var(--primary);
  }
  /* .container{
	height: 10vh;
  } */
